services:
  db:
    image: postgres:13.5-alpine
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d postgres']
      interval: 1s
      timeout: 2s
      retries: 15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: casino
    ports:
      - 5432:5432

  wallet-migrations:
    image: public.ecr.aws/h8w8n0h7/wallet-api:7c4c089
    entrypoint: npm run db:migrate
    environment:
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: casino
    depends_on:
      db:
        condition: service_healthy

  wallet-server:
    image: public.ecr.aws/h8w8n0h7/wallet-api:7c4c089
    environment:
      PORT: 8000
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: casino
      CORS_HOSTS: http://localhost:5173
    ports:
      - 8000:8000
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget --quiet --tries=1 --spider http://wallet-server:8000/v1/health || exit 1',
        ]
      interval: 1s
      timeout: 2s
      retries: 15
    depends_on:
      db:
        condition: service_healthy
      wallet-migrations:
        condition: service_completed_successfully

  game-migrations:
    build: ./server
    entrypoint: npm run db:migrate
    environment:
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: casino
    profiles:
      - run
    depends_on:
      db:
        condition: service_healthy

  game-server:
    build: ./server
    ports:
      - 8001:8001
    environment:
      PORT: 8001
      WALLET_URL: http://wallet-server:8000
      PLINKO_TARGET_RTP: 0.95
      PLINKO_ROWS: 10
      PLINKO_P: 0.5
      PLINKO_MIDDLE_PAYOUT: 0.2
      PLINKO_EDGE_PAYOUT: 100
      CORS_HOSTS: http://localhost:5173
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: casino
      DB_LOGGER: true
    profiles:
      - run
    depends_on:
      db:
        condition: service_healthy
      game-migrations:
        condition: service_completed_successfully
      wallet-server:
        condition: service_healthy
