services:
  db:
    image: postgres:13.5-alpine
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d postgres']
      interval: 1s
      timeout: 2s
      retries: 15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: casino
    ports:
      - 5432:5432

  migrations:
    build: ./server
    entrypoint: npm run db:migrate
    environment:
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: casino
    depends_on:
      db:
        condition: service_healthy

  server:
    build: ./server
    ports:
      - 8001:8001
    environment:
      PORT: 8001
      WALLET_URL: http://localhost:8000
      PLINKO_TARGET_RTP: 0.95
      PLINKO_ROWS: 16
      PLINKO_P: 0.5
      PLINKO_MIDDLE_PAYOUT: 0.2
      PLINKO_EDGE_PAYOUT: 100
      CORS_HOSTS: http://localhost:5173
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: casino
    depends_on:
      db:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
